<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
              <endpoints>
                    <serialization>
                        <schema>
                          <roles type="Sitecore.DevEx.GraphQL.Serialization.Roles.SerializationRolesSchemaProvider, Sitecore.DevEx.GraphQL.Serialization.Roles" resolve="true" />
                        </schema>
                    </serialization>
                </endpoints>
            </GraphQL>
        </api>
        <services>
            <configurator type="Sitecore.DevEx.GraphQL.Serialization.Roles.DependencyConfigurator, Sitecore.DevEx.GraphQL.Serialization.Roles" />
        </services>
    </sitecore>
</configuration>
