<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
              <endpoints>
                    <serialization>
                        <schema>
                          <users type="Sitecore.DevEx.GraphQL.Serialization.Users.SerializationSchemaProvider, Sitecore.DevEx.GraphQL.Serialization.Users" resolve="true" />
                        </schema>
                    </serialization>
                </endpoints>
            </GraphQL>
        </api>
        <services>
            <configurator type="Sitecore.DevEx.GraphQL.Serialization.Users.DependencyConfigurator, Sitecore.DevEx.GraphQL.Serialization.Users" />
        </services>
        <settings>
            <!-- When NEW users are deserialized, their passwords will be set to this value.
                 If the value is set to "random," the password will be set to a long randomly generated value, otherwise the literal value is used.-->
            <setting name="Sitecore.DevEx.GraphQL.Serialization.Users.DefaultPassword" value="sitecore" />
            <!-- If defaultPassword is not random, this settings defines the minimum accepted password length when deserializing a user.
                 Default is 8 and must be larger than 0-->
            <setting name="Sitecore.DevEx.GraphQL.Serialization.Users.MinPasswordLength" value="8" />
            <!-- Allows serialize/deserialize users-->
            <setting name="Sitecore.DevEx.GraphQL.Serialization.Users.AllowUserSynchronization" value="true" />
        </settings>
    </sitecore>
</configuration>
