<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
                <defaults>
                    <content>
                        <schemaProviders>
                            <publishing type="Sitecore.Services.GraphQL.Content.ContentSchemaProvider, Sitecore.Services.GraphQL.Content">
                                <templates type="Sitecore.Services.GraphQL.Content.TemplateGeneration.Filters.StandardTemplatePredicate, Sitecore.Services.GraphQL.Content">
                                    <database>$(1)</database>
                                    <paths hint="list:AddIncludedPath">
                                        <templates>/sitecore/templates</templates>
                                    </paths>
                                    <fieldFilter type="Sitecore.Services.GraphQL.Content.TemplateGeneration.Filters.StandardFieldFilter, Sitecore.Services.GraphQL.Content" />
                                </templates>
                                <queries hint="raw:AddQuery">
                                    <query name="publishingStatus" type="Sitecore.DevEx.GraphQL.Publishing.GraphQL.Queries.PublishingStatusQuery, Sitecore.DevEx.GraphQL.Publishing" resolve="true" />
                                    <query name="listOfTargets" type="Sitecore.DevEx.GraphQL.Publishing.GraphQL.Queries.ListOfTargetsQuery, Sitecore.DevEx.GraphQL.Publishing" resolve="true" />
                                </queries>
                                <mutations hint="raw:AddMutation">
                                    <mutation name="publish" type="Sitecore.DevEx.GraphQL.Publishing.GraphQL.Mutations.PublishMutation, Sitecore.DevEx.GraphQL.Publishing" resolve="true" />
                                    <mutation name="singleItemPublish" type="Sitecore.DevEx.GraphQL.Publishing.GraphQL.Mutations.SingleItemPublishMutation, Sitecore.DevEx.GraphQL.Publishing" resolve="true" />
                                </mutations>
                              <subscriptions hint="raw:AddSubscription">
                                    <subscription name="publishingStatus" type="Sitecore.Services.GraphQL.Content.Subscriptions.PublishingStatusSubscription, Sitecore.Services.GraphQL.Content" resolve="true" />
                                </subscriptions>
                                <fieldTypeMapping ref="/sitecore/api/GraphQL/defaults/content/fieldTypeMappings/standardTypeMapping" />
                            </publishing>
                        </schemaProviders>
                    </content>
                </defaults>
                <endpoints>
                    <serialization>
                        <schema>
                            <content ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/publishing" param1="master" />
                        </schema>
                    </serialization>
                </endpoints>
            </GraphQL>
        </api>
        <services>
            <configurator type="Sitecore.DevEx.GraphQL.Publishing.DependencyConfigurator, Sitecore.DevEx.GraphQL.Publishing" />
        </services>
    </sitecore>
</configuration>
