<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <api>
      <GraphQL>
        <endpoints>
          <serialization>
            <schema>
              <common type="Sitecore.DevEx.GraphQL.System.SystemSchemaProvider, Sitecore.DevEx.GraphQL.System" resolve="true" />
            </schema>
          </serialization>
        </endpoints>
      </GraphQL>
    </api>
  </sitecore>
</configuration>
