<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the JSS Multisite foundation module.

The multitenant nature of the JSS architecture means that clients can run multiple microsites along with their main websites on a single instance of Sitecore.
Additionally each tenant is divided into sites allowing for entire customer journeys to be completed in various languages either through one-to-one translated versions (native Sitecore language support) or an internationalisation model whereby a separate site map exists for different languages.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <events>
            <event name="item:saved">
                <handler type="Sitecore.XA.JSS.Foundation.Multisite.EventHandlers.SiteSettingsCacheClearer, Sitecore.XA.JSS.Foundation.Multisite" method="OnItemSaved" />
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.XA.JSS.Foundation.Multisite.EventHandlers.SiteSettingsCacheClearer, Sitecore.XA.JSS.Foundation.Multisite" method="OnItemSavedRemote" />
            </event>
            <event name="item:added">
                <handler type="Sitecore.XA.JSS.Foundation.Multisite.EventHandlers.SiteDefinitionHandler, Sitecore.XA.JSS.Foundation.Multisite" method="OnItemAdded" />
            </event>
        </events>
        <hooks>
            <hook type="Sitecore.XA.JSS.Foundation.Multisite.Hooks.SiteSettingsClearingHook, Sitecore.XA.JSS.Foundation.Multisite" />
        </hooks>
        <pipelines>
            <clearSiteSettingsCache>
                <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ClearSiteSettingsCache.ClearHeadlessSiteSettingsCache, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
            </clearSiteSettingsCache>
            <parseSiteItem>
                <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ParseSiteItem.AddPointOfSaleProperty, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
                <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ParseSiteItem.AddGenerateThumbnailsProperty, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
                <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ParseSiteItem.AddThumbnailsRootPathProperty, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
                <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ParseSiteItem.AddProjectProperty, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
                <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ParseSiteItem.SetDefaultDatabase, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" role:require="XMCloud" />
                <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ParseSiteItem.AddDictionaryDomainProperty, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
            </parseSiteItem>
            <group groupName="javaScriptServices">
                <pipelines>
                    <configuration.getAppConfiguration>
                        <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.GetAppConfiguration.GetConfigurationFromItems, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
                    </configuration.getAppConfiguration>
                    <configuration.resolveAppTemplate>
                        <processor type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.ResolveAppTemplate.ResolveSxaAppTemplate, Sitecore.XA.JSS.Foundation.Multisite" resolve="true" />
                    </configuration.resolveAppTemplate>
                    <import>
                        <processor patch:instead="*[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessTemplates, Sitecore.JavaScriptServices.AppServices']"
                                   type="Sitecore.XA.JSS.Foundation.Multisite.Pipelines.Import.ProcessTemplates, Sitecore.XA.JSS.Foundation.Multisite" />
                    </import>
                </pipelines>
            </group>
        </pipelines>
        <processors>
            <uiGetMasters>
                <processor patch:after="*[@type='Sitecore.Pipelines.GetMasters.GetItemMasters,Sitecore.Kernel']" type="Sitecore.XA.JSS.Foundation.Multisite.Processors.UiGetMasters.GetItemMasters, Sitecore.XA.JSS.Foundation.Multisite" resolve="true"/>
            </uiGetMasters>
        </processors>
        <services>
            <register serviceType="Sitecore.XA.Foundation.Abstractions.Configuration.IConfiguration`1[[Sitecore.XA.JSS.Foundation.Presentation.HeadlessPresentationConfiguration, Sitecore.XA.JSS.Foundation.Presentation]], Sitecore.XA.Foundation.Abstractions" implementationType="Sitecore.XA.JSS.Foundation.Presentation.HeadlessPresentationConfigurationReader, Sitecore.XA.JSS.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.JSS.Foundation.Multisite.Services.ISettingsCacheClearer, Sitecore.XA.JSS.Foundation.Multisite" implementationType="Sitecore.XA.JSS.Foundation.Multisite.Services.SettingsCacheClearer, Sitecore.XA.JSS.Foundation.Multisite" lifetime="Singleton"/>
        </services>
        <experienceAccelerator>
            <sitecoreExtensions>
                <hideContentEditorFields>
                    <field id="{9EAF6DC9-B811-4CDA-9EDD-9697FABA628A}" />
                </hideContentEditorFields>
            </sitecoreExtensions>
        </experienceAccelerator>
    </sitecore>
</configuration>

